<%- include("header") -%>
<div class="card" style="width: 18rem;">
  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
  <div class="card-body">
    <h5 class="card-title"><%=cityname%></h5>
    <div class="icon">
      <img src="<%=icon%>" alt="">
    </div>
    <div class="currenttemp">
      <div id="temp"><%=currenttemp%></div>
      </div>
      <div class="unit">°C</div>
    <p class="card-text"></p>

    <a href="#">Go somewhere</a>
  </div>
</div>
<%- include("footer") -%>  
